* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url('./assets/grid.png');
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

/* Navbar styles */
.navbar {
    position: absolute;
    width: 100%;
    z-index: 1000;
    padding: 15px;
}

.form-wrapper {
    min-height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 20px;
}

.form-container {
    max-width: 1000px;
    padding: 30px;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: width 0.3s;
}
.newCard{
    width: 500px;
}

.form-container.registration-expanded {
    width: 600px;
}

.toggle-btn {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.select-container {
    width: 100%; 
    max-width: 500px; /* Set the width here to match the table column width */
    margin: 0 auto; /* Center the dropdown */
}

.table-container {
    width: 100%;
}

.card {
    width: 50%;
}
